<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<body class="background font">

<h1>Artists</h1>


<div class="row1_artist no-gutters">
    <% @artists.each do |artist| %>
      <div class="col-12 col-lg-3 border_righttop container1">
        <%= link_to artist.name, artist, class: "a_artistname" %> 
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Artist', new_artist_path %>
