<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path, class: "change_textcolor" %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path, class: "change_textcolor" %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path, class: "change_textcolor" %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<body class="background font">

<h1><%= @artist.name %></h1>

<div class="row1_artwork no-gutters border_top">
    <% @artist.artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_right border_bottom change_backcolor">
          <% if artwork.title.length > 20 %>
          <div> <%= link_to artwork.title[0..18] + "...", artwork, class: "title change_textcolor" %> </div>
          <% else %>
          <div> <%= link_to artwork.title, artwork, class: "title change_textcolor" %> </div>
          <% end %> 
          <% if artwork.exhib %> 
              <div> <%= link_to artwork.exhib, exhib_path(artwork.exhib), class: "exhib change_textcolor" %> </div> 
          <%end %>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3  border_right border_bottom image" style="background-image:url(<%= artwork.image %>)">
      </div>
    <% end %>
</div>

