<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path, class: "change_textcolor" %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path, class: "change_textcolor" %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path, class: "change_textcolor" %>
        </li>
      </ul>
    </nav>
  </div>
</header>



<h1>Expositions</h1>

<div class="row1_artwork no-gutters border_top">
    <% @exhibs.each do |exhib| %>
      <div class="col-12 col-lg-3 border_right border_bottom change_backcolor">
          <h3><%= link_to exhib.title, exhib, class: "change_textcolor" %></h3>
          <p> <%= exhib.description %></p>
      </div>
    <% end %>
</div>
