<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>




<h1>Exhibs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibs.each do |exhib| %>
      <tr>
        <td><%= exhib.title %></td>
        <td><%= exhib.description %></td>
        <td><%= link_to 'Show', exhib %></td>
        <td><%= link_to 'Edit', edit_exhib_path(exhib) %></td>
        <td><%= link_to 'Destroy', exhib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exhib', new_exhib_path %>
