<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<body class="background font">

<h1 class= "border_top"><%= @exhib.title %></h1>
<div class="border_top"><%= @exhib.description %><div>

<div class="row1_artwork no-gutters border_top">
    <% @exhib.artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_right border_bottom container1">
          <div><%= link_to artwork.title, artwork, class: "title" %></div>
          <% if artwork.artist %>
              <div ><%= link_to artwork.artist, artist_path(artwork.artist), class: "artist" %> </div> 
          <%end %>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3 border_right border_bottom image" style="background-image:url(<%= artwork.image %>)">
      </div>
    <% end %>
</div>