<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>


<body class="background font">


<div class="row1_artwork no-gutters border_top">
    <% @artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_right border_bottom container1">
          <% if artwork.title.length > 20 %>
          <h5> <%= link_to artwork.title[0..18] + ". .", artwork, class: "title" %> </h5>
          <% else %>
          <h5> <%= link_to artwork.title, artwork, class: "title" %> </h5>
          <% end %> 
          <% if artwork.artist %> 
              <div> <%= link_to artwork.artist, artist_path(artwork.artist), class: "artist" %> </div> 
          <% end %>
          <% if artwork.exhib %> 
              <div> <%= link_to artwork.exhib, exhib_path(artwork.exhib), class: "exhib" %> </div> 
          <% end %>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3 border_right border_bottom image" style="background-image:url(<%= artwork.image %>)">
          <!--<img src="<%= artwork.image %>" height=196px>-->
      </div>
    <% end %>
</div>


<!--<%= link_to 'New Artwork', new_artwork_path %>-->

</body>
