<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>


<body class="background font">


<div class="row1_artwork no-gutters">
    <% @artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_righttop container1">
          <div><%= link_to artwork.title, artwork, class: "a_artworktitle" %></div> 
          <% if artwork.artist <h3> <%= link_to artwork.artist, artist_path(artwork.artist) %> </h3> end %>
          <% if artwork.exhib <p> <%= link_to artwork.exhib, exhib_path(artwork.exhib), class: "exhib" %> </p> end %>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3 border_righttop">
          <img src="<%= artwork.image %>" height=196px>
      </div>
    <% end %>
</div>


<br>

<!--<%= link_to 'New Artwork', new_artwork_path %>-->

</body>
