<div class="row1_artwork no-gutters border_top">
    <% @artworks.each do |artwork| %>

        
            <div class="col-12 col-lg-3 col-md-6 border_right border_bottom change_backcolor">
              <%= link_to artwork do %>

                  <div>
                      <% if artwork.title.length > 20 %>
                          <h5><%= link_to artwork.title[0..18] + "...", artwork, class: "title change_textcolor" %></h5>
                      <% else %>
                          <h5><%= link_to artwork.title, artwork, class: "title change_textcolor" %></h5>
                      <% end %> 


                      <% if artwork.artist %> 
                          <div><%= link_to artwork.artist, artist_path(artwork.artist), class: "artist change_textcolor" %></div> 
                      <% end %>

                      <% if artwork.exhib %> 
                          <div><%= link_to artwork.exhib, exhib_path(artwork.exhib), class: "exhib change_textcolor" %></div> 
                      <% end %>

                      <%if artwork.year %>
                          <p><%= artwork.year %>, <%= artwork.description %></p>
                      <% else %>
                          <p><%= artwork.description %></p>
                      <% end %>
                  </div>
              <% end %>
            </div>
        

          <div class="col-12 col-lg-3 col-md-6 border_right border_bottom">
          <%= link_to artwork do %>
              <div class="image" style="background-image:url(<%= artwork.image %>)"></div>
          <% end %>
          </div>

  <% end %>
</div>


<!--<%= link_to 'New Artwork', new_artwork_path %>-->

</body>
