<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>


<body class="background font">


<div class="row1_artwork no-gutters">
    <% @artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_righttop container1">
          <div><%= link_to artwork.title, artwork, class: "a_artworktitle" %></div> 
          <h3 ><%= artwork.artist %> </h3>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3 border_righttop">
          <img src="<%= artwork.image %>" height=196px>
      </div>
    <% end %>
</div>


<!--<table>
  <tbody >
    <% @artworks.each do |artwork| %>
      <tr >
          <td><%= artwork.title %></td>
          <td>AUTEUR</td>
          <td><%= artwork.year %></td>
          <td><%= artwork.description %></td>
          <td><img src="<%= artwork.image %>" width=150px></td>
          <td><%= link_to 'Show', artwork %></td>
          <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>

<!--<%= link_to 'New Artwork', new_artwork_path %>-->

</body>
