<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <a href="#">Expositions</a>
        </li>
        <li class="border_black">
          <a href="#">Le Musée du Rêve</a>
        </li>
        <li class="border_black">
          <a href="#">Artistes</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<p id="notice"><%= notice %></p>

<body class="background font">


<div class="row1 no-gutters">
    <% @artworks.each do |artwork| %>
      <div class="col-12 col-lg-3 border_righttop container1">
          <h3><%= artwork.autor %></h3>
          <h5><%= artwork.title %></h5>
          <p><%= artwork.year %>, <%= artwork.description %></p>
      </div>
      <div class="col-12 col-lg-3 border_righttop">
          <img src="<%= artwork.image %>" height=196px>
      </div>
    <% end %>
</div>


<!--<table>
  <tbody >
    <% @artworks.each do |artwork| %>
      <tr >
          <td><%= artwork.title %></td>
          <td><%= artwork.autor %></td>
          <td><%= artwork.year %></td>
          <td><%= artwork.description %></td>
          <td><img src="<%= artwork.image %>" width=150px></td>
          <td><%= link_to 'Show', artwork %></td>
          <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>

<!--<%= link_to 'New Artwork', new_artwork_path %>-->

</body>
