<header>
    <nav class="main-nav">
      <ul>
        <li class="border_black">
          <%= link_to "Expositions", exhibs_path %>
        </li>
        <li class="border_black">
          <%= link_to "Le Musée du Rêve", artworks_path %>
        </li>
        <li class="border_black">
          <%= link_to "Artistes", artists_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>




<body class="background font">

<div class="row1_show no-gutters">
      <div class="col-12 col-lg-6 border_righttop container1">
          <h5> <%= @artwork.title %> </h5> 
          <% if artwork.artist %> 
              <h3> <%= link_to artwork.artist, artist_path(artwork.artist) %> </h3> 
          <% end %>
          <% if artwork.exhib %> 
              <p> <%= link_to artwork.exhib, exhib_path(artwork.exhib), class: "exhib" %> </p> 
          <%end %>
          <p> <%= @artwork.year %>, <%= @artwork.description %> </p>

      </div>
      <div class="col-12 col-lg-6 border_righttop">
          <img src="<%= @artwork.image %>" height=300px>
      </div>
</div>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
